section {
    margin: 5%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

article {
    border: 1px solid black;
    text-align: justify;
}

article img {
    width: 250px;
    max-height: 70%;
}

article h2, article p {
    margin: 5%;
}

@media (min-width: 700px) {
    section {
        margin: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-wrap: wrap;
        gap: 5px;
    }
    
    article {
        border: 1px solid black;
        text-align: justify;
        max-width: 90%;
    }
    
    article img {
        width: 250px;
        max-height: 70%;
    }
    
    article h2, article p {
        margin: 5%;
    }
}